{# partials/footer.html.twig #}
<div class="footer">

    <p>Lucile GRID-LEDONNE</p>
    <p>Projet universitaire - Année 2026</p>
    <p><a href="/rgpd">Données anonymisées - RGPD</a></p>
    <p>En savoir plus</p>
    
</div>