{# partials/footer.html.twig #}
<div class="footer">

    <p>Lucile GRID-LEDONNE</p>
    <p>Projet universitaire - Année 2026</p>
    <p>Données anonymisées - RGPD</p>
    <p>En savoir plus</p>
    
</div>