{# partials/header.html.twig #}
<div class="header">

    <a href="/signin">S'inscrire, se connecter</a>

    <h1><a href="/accueil">DOCTOLIBRE</a></h1>

    <a href="{{ path('app_contact') }}" class="btn-primary">Contact</a>

</div>

