body, html {
    min-height: 95vh;
    background-color: white;
    height: 48vh;
    display: flex;
    flex-direction: column;
}

.head {
    background-color: grey;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    flex: 7;
    background-color: grey;
    display:flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px; 
}