body, html {
    min-height: 95vh;
    background-color: white;
    height: 48vh;
    display: flex;
    flex-direction: column;
}

.head {
    background-color: grey;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    flex: 7;
    background-color: grey;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    margin: 4px;
}

.error {
    font-size: 15px; 
    color: red;
}

button {
    margin : 15px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    width: 100%;
    margin: 15px 0;
}