{% extends 'base.html.twig' %}

{% block body %}

    <div class="head">   
        <p>Bienvenue sur notre site</p>
    </div>

    <div class="main">   
    </div>  

{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}
