{% extends 'base.html.twig' %}

{% block body %}

    <div class="head">   
        <p>Une question ? Une problématique ? Un oubli ? Complétez le formulaire ci-dessous, et nous vous répondrons le plus rapidement
        possible.</p>
        <p>Vous pouvez nous joindre au 01-02-03-04-05, du lundi au vendredi de 8h00 à 8h01.</p>
    </div>

    <div class="main main-row">   



    </div>  
    
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
