<link rel="stylesheet" href="/css/style.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctolibre</title>
</head>
<body>

    <div class="main">   
        <u><b><h1>Page de connexion</h1></b></u>
        <u><h2>Site Doctolibre</h2></u>
    </div>  

    <div class="head">   
        <p>On ne vous voit pas en BDD</p>
    </div>


</body>
</html>

