{% extends 'base.html.twig' %}

{% block body %}
    <div class="head">   
        <u><b><h1>Page de connexion</h1></b></u>
        <u><h2>Site Doctolibre</h2></u>
        <a href="/signin"><button type="button">Inscription</button></a>
        <i><h3>It's {{ hour }}</h3></i>
    </div>    

    <div class="main">
        <u><h2>Je me connecte</h2></u>
        <form id="step-one-form" method="post">
            <p>Insérer votre login</p>
            <input type="text" id="login" name="login" placeholder="johndoe2026">

            <p>Mot de passe</p>
            <input type="password" id="password" name="password" placeholder="12345">

            <button type="submit" id="loginselect">Envoyer</button>
        </form> 
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {

        const form = document.getElementById('step-one-form');

        form.addEventListener("submit", async function(e) {
            e.preventDefault();

            const authentifier = document.getElementById("login").value;
            const password = document.getElementById("password").value;
            const url = 'https://secure.intern.it.idshost.fr/auth/v2/otp/loginselect';

            try {
                const controller = new AbortController();
                const timeout = setTimeout(() => controller.abort(), 3000)

                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        authentifier: authentifier,
                        password: password,
                        send: true
                    })
                    signal: controller.signal
                });

                const data = await response.json();
                console.log("STATUS HTTP :", response.status);
                console.log("REPONSE COMPLETE :", data);

            if(data.status === 0) {
                window.location.replace("/otp?sessionids=" + data.sessionids);
            } else {
                console.log("API a rejeté la connexion, bascule sur la BDD");
                form.submit();
            }
            } catch(error) {
                console.log("API indisponible, bascule sur la BDD", error);
                form.submit();
            }
        });

    });
    </script>
{% endblock %}