{% extends 'base.html.twig' %}


{% block body %}
    <div class="head">   
        <u><b><h1>Page de connexion</h1></b></u>
        <u><h2>Site Doctolibre</h2></u>
        <a href="/signin"><button type="button">Inscription</button></a>
        {# templates/login.html.twig #}
        <i><h3>It's {{ hour }}</h3></i>
    </div>    

    <div class="main">

        <u><h2>Je me connecte</h2></u>
        <form id="step-one-form" method="post">
            <p>Insérer votre login</p>
            <input type="text" id="login" name="login" placeholder="johndoe@gmail.com">

            <p>Mot de passe</p>
            <input type="password" id="password" name="password" placeholder="12345">

            <button type="submit" id="loginselect">Envoyer</button>

        </form> 
    </div>
{% endblock %}