{% extends 'base.html.twig' %}


{% block body %}
    <div class="head">   
        <u><b><h1>Page de connexion</h1></b></u>
        <u><h2>Site Doctolibre</h2></u>
        <a href="/signin"><button type="button">Inscription</button></a>
        {# templates/login.html.twig #}
        <i><h3>It's {{ hour }}</h3></i>
    </div>    

    <div class="main">

        <u><h2>Je me connecte</h2></u>
        <form id="step-one-form">
            <p>Insérer votre login</p>
            <input type="text" id="login" name="login" placeholder="johndoe@gmail.com">

            <p>Mot de passe</p>
            <input type="password" id="password" name="password" placeholder="12345">

            <button type="submit" id="loginselect">Envoyer</button>

        </form> 
    </div>
{% endblock %}


{# L’appel login fonctionne (HTTP 200), mais l’API renvoie status 10/15 avec denial_reason 'Auth server error' 
et aucun sessionid, empêchant la transition OTP.” #}


{% block javascripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {

        const form = document.getElementById('step-one-form');

        form.addEventListener("submit", async function(e) {
            e.preventDefault();

            const authentifier = document.getElementById("login").value;
            const password = document.getElementById("password").value;
            const url = 'https://secure.intern.it.idshost.fr/auth/v2/otp/loginselect';

            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    authentifier: authentifier,
                    password: password,
                    send: true
                })
            });

            const data = await response.json();

            console.log("STATUS HTTP :", response.status);
            console.log("REPONSE COMPLETE :", data);
        });

    });
    </script>
{% endblock %}