<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctolibre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="head">   
        <u><b><h1>Page d'inscription</h1></b></u>
        <u><h2>Site Doctolibre</h2></u>
        <a href="/login"><button type="button">Connexion</button></a>
        {# templates/signin.html.twig #}
        <i><h3>It's {{ hour }}</h3></i>
    </div>    

    <div class="main">

        <u><h2>Je m'inscris <h2></u>
        <form method="post">

            <div class="column">

                <div class="item">

                    <i><h5>Nom</h5></i>
                    <input type="text" name="name" placeholder="Doe">
                    {% if 'name' in errors %}
                        <span class="error">Missing</span>
                    {% endif %}

                </div>

                <div class="item">

                    <i><h5>Prenom</h5></i>
                    <input type="text" name="first_name" placeholder="John">
                    {% if 'first_name' in errors %}
                        <span class="error">Missing</span>
                    {% endif %}

                </div>

                <div class="item">

                    <i><h5>Login / Pseudo</h5></i>
                    <input type="text" name="login" placeholder="jd2026">
                    {% if 'login' in errors %}
                        <span class="error">Missing</span>
                    {% endif %}

                </div>

            </div>

            <div class="column">
                <div class="item">

                    <i><h5>Mail</h5></i>
                    <input type="email" name="email" placeholder="johndoe@gmail.com">
                    {% if 'email' in errors %}
                        <span class="error">Missing</span>
                    {% endif %}

                </div>

                <div class="item">

                    <i><h5>Téléphone</h5></i>
                    <input type="tel" name="telephone" placeholder="01 02 03 04 05">
                    {% if 'telephone' in errors %}
                        <span class="error">Missing</span>
                    {% endif %}

                </div>

                <div class="item">

                    <i><h5>Mot de passe</h5></i>
                    <input type="password" name="password" placeholder="12345">
                    {% if 'password' in errors %}
                        <span class="error">Missing</span>
                    {% endif %}

                </div>
            </div>

            <button type="submit">Envoyer</button>
        </form> 
    </div>

</body>
</html>
